* {
  margin: 0;
  padding: 0;
}

.section {
    padding: 50px 10%;
    background-color: black;
    color: #000;
    margin: 5% 0 3% 0;
  }

.section h1 {
  color: white;
}

#button {
  padding: 15px;
  margin: 20px 0 0 0;
  border: none;
  background-color: #FE6F00;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  font-weight: 600;
}
  
  /* Additional specific styles for each section can go here */
  