.director-portfolio {
  column-count: 2;
  column-gap: 20px;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: black;
}

.video-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.video-item-title {
  position: absolute;
  top: 30px;
  left: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: 25px; /* Height to fit one line of text */
  overflow: hidden; /* Hides the second line of text until hover */
}

.video-item-title span {
  display: block; /* Makes each span behave like a block */
  transition: transform 0.3s ease;
  color: white; /* Title color */
  font-size:25px;
  font-weight: 500;
}

.video-item:hover .video-item-title span:first-child {
  transform: translateY(-100%); /* Moves the first line up out of view */
}

.video-item:hover .video-item-title span:last-child {
  transform: translateY(-100%); /* Moves the second line into view */
}

.video-item iframe {
  width: 100%;
  height: auto;
  display: block;
}
